<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/descricao-produto.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

  <script src="/js/Avaliacao.js" defer></script>
  <script src="/js/main.js"  defer type="text/javascript"></script>

  <title>PRODUTOS</title>
</head>


<body>
  <header>

    <%- include('./partials/navbar') %>

  </header>
  <div id="home"></div>
  <!-- produto visual -->
  <section class="cabesalho-produto">
    <div id="org2">

      <div id="imagem-produto">
        <img src="/images/<%= descricaoProduto.imagem %>" alt="<%= descricaoProduto.nome %>">
      </div>

      <div id="descricao-produto">

        <h1><%= descricaoProduto.nome %> </h1>

        <div id="estrela">
          <a href="javascript:void(0)" onclick="Avaliar(1)">
            <img src="/images/estrela.png" id="s1"></a>

          <a href="javascript:void(0)" onclick="Avaliar(2)">
            <img src="/images/estrela.png" id="s2"></a>

          <a href="javascript:void(0)" onclick="Avaliar(3)">
            <img src="/images/estrela.png" id="s3"></a>

          <a href="javascript:void(0)" onclick="Avaliar(4)">
            <img src="/images/estrela.png" id="s4"></a>

          <a href="javascript:void(0)" onclick="Avaliar(5)">
            <img src="/images/estrela.png" id="s5"></a>
        </div>

        <div id="subtiulo">

          <p>Valor: <%= descricaoProduto.preco %>  </p>

          <!-- <p>Copo furadis é disculpa de bebadis, arcu quam euismod magna.Atirei o pau no gatis, per gatis num
            morreus.</p> -->

        </div>

        <div id="frete">
          <p>CALCULAR FRETE</p>
          <form action="" method="post">

            <input type="number" id="CalcularFrete">
            <a href="carrinho">
              <input type="button" name="" id="button-frete" value="COMPRAR AGORA">
            </a>
          </form>
        </div>



      </div>
    </div>
  </section>

  <!-- descrição do produto -->
  <section class="descricao">

    <div id="barra">ㅤ</div>

    <div id="detalhes">
      <p><%= descricaoProduto.descricao %></p>

    </div>
    <div id="barra">ㅤ</div>

    <!-- <section id="produtos-relacionavaies">

      <h1 id="TITULO">PRUDUTOS RELACIONADOS</h1>
      <p id="subtitulo">complementar</p>


      <div id="org1">
        div pruduto
        <div id="card">

          <div id="img">IMAGEM <br> PRODUTO X</div>
          <div id="descricao">

            <h1>NOME X</h1>

            <p id="subname">Nome</p>
            <p></p>

            <p>Lorem ipsum dolor sit, amet <br> consectetur adipisicing <br> elit. Nobis explicabo <br>
              veritatis
              provident, error atque vitae? <br></p>


            <a href="carrinho"> <input type="button" name="" id="COMPRA" value="COMPRAR AGORA">
            </a>

          </div> 

        </div>



        <div id="card">

          <div id="img">IMAGEM <br> PRODUTO X</div>
          <div id="descricao">

            <h1>NOME X</h1>

            <p id="subname">Nome</p>
            <p></p>

            <p>Lorem ipsum dolor sit, amet <br> consectetur adipisicing <br> elit. Nobis explicabo <br>
              veritatis
              provident, error atque vitae? <br></p>


            <input type="button" name="" id="COMPRA" value="COMPRAR AGORA">

          </div>

        </div>




        <div id="card">

          <div id="img">IMAGEM <br> PRODUTO X</div>
          <div id="descricao">

            <h1>NOME X</h1>

            <p id="subname">Nome</p>
            <p></p>

            <p>Lorem ipsum dolor sit, amet <br> consectetur adipisicing <br> elit. Nobis explicabo <br>
              veritatis
              provident, error atque vitae? <br></p>


            <input type="button" name="" id="COMPRA" value="COMPRAR AGORA">

          </div>

        </div>




        <div id="card">

          <div id="img">IMAGEM <br> PRODUTO X</div>
          <div id="descricao">

            <h1>NOME X</h1>

            <p id="subname">Nome</p>
            <p></p>

            <p>Lorem ipsum dolor sit, amet <br> consectetur adipisicing <br> elit. Nobis explicabo <br>
              veritatis
              provident, error atque vitae? <br></p>


            <input type="button" name="" id="COMPRA" value="COMPRAR AGORA">

          </div>

        </div>

      </div>


    </section> -->
    <!--  Section "Estatísticas" -->
    <div class=" consult-azul-aqua-md ">
      <div class="consult-container container consult-row consult-center consult-padding-64">
        <div class="consult-quarter">

          <span class="consult-xxlarge">+de 1500</span>
          <br>Parceiros
        </div>

        <div class="consult-quarter">
          <span class="consult-xxlarge">99%</span>
          <br>Pessoas atendidas em menos de 24 horas
        </div>

        <div class="consult-quarter">
          <span class="consult-xxlarge">27</span>
          <br>Presente em todos os Estados Brasileiros
        </div>

        <div class="consult-quarter">

          <span class="consult-xxlarge">+100.000</span>
          <br>Usuários
        </div>

      </div>

    </div>
    <%- include('./partials/contato') %>

    <%- include('./partials/footer') %>

</body>

</html>