<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="css/login-usuario.css">
    <script src="js/login-usuario.js" defer type="text/javascript"></script>
</head>

<body>
    <main class="container">
        <section class="text-primario">

            <p id="logo">LOGO</p>

            <h1 id="text-bem-vindo">Bem vindo(a) de volta</h1>
            <p id="text-subtitulo">Acesse sua conta agora mesmo</p>



            <form class="organizar" method="post" action="/login">
                <div class="Igmail-login">
                    <label for="gmail-login">
                        <span class="material-symbols-outlined">
                            contact_mail
                        </span>
                    </label>
                    <input type="email" name="email" value="<%= locals.oldData ? oldData.name : null %>" id="gmail-login" placeholder="E-mail" required>
                    <% if (locals.error && errors.name) { %>
                        <div class="error">
                            <p><%= errors.name.msg %></p>
                        </div>
                    <% } %>
                </div>

                <div class="Isenha-login">
                    <label for="senha-login"><span class="material-symbols-outlined">
                            password
                        </span></label>
                    <input type="password" name="senha" id="senha-login" placeholder="Senha" required>
                    <% if (locals.error && errors.senha) { %>
                        <div class="error">
                            <p><%= errors.senha.msg %></p>
                        </div>
                    <% } %>
                </div>

                <div class="lembrar"
                    style="text-align: left;display: block;padding-left: 20px;font-size: 14px;color: white;">
                    <input type="checkbox" name="lembrar" id="lembrar" style="margin-top: 5px;">
                    <label for="lembrar" style="font-size: 14px;">Lembrar-me</label>
                </div>
                <% if (locals.error) { %>
                    <div class="error">
                        <p><%= error %></p>
                    </div>
                <% } %>

                <div class="entrar">
                    <input id="Ientra-login" type="submit" value="ENTRAR">
                </div>
                <p id="recuperar"><a href="">Esqueci minha senha</a></p>

            </form>


        </section>

        <section class="cadrastro">
            <h1>Criar uma conta</h1>
            <p class="cadastroP">Preencha seus dados</p>


            <div class="organizar-cadastro">
                <form id="cadastroUsuario" action="/salvarcadastro" method="post">

                    <div class="Inome-cadrastro">
                        <label for="nome"><span class="material-symbols-outlined">
                                person
                            </span></label>
                        <input type="text" name="nome" id="nome" autocomplete="off" placeholder="Nome" required>
                        <% if (locals.error && errors.nome) { %>
                            <div class="error">
                                <p><%= errors.nome.msg %></p>
                            </div>
                        <% } %>
                    </div>

                    <div class="Igmail-cadrastro">
                        <label for="gmail-cadrastro"> <span class="material-symbols-outlined">
                                contact_mail</label>
                        <input type="email" name="email" id="gmail-cadrastro" autocomplete="off" placeholder="E-mail"
                            required onclick="erro()">
                        <% if (locals.error && errors.email) { %>
                            <div class="error">
                                <p><%= errors.email.msg %></p>
                            </div>
                        <% } %>
                    </div>

                    <div class="Isenha-cadrastro">
                        <label for="senha-cadrastro"><span class="material-symbols-outlined">
                                password
                            </span></label>
                        <input type="password" name="senha" id="senha-cadrastro" placeholder="Senha" required>
                        <% if (locals.error && errors.senha) { %>
                            <div class="error">
                                <p><%= errors.senha.msg %></p>
                            </div>
                        <% } %>
                    </div>
                    <div class="Isenha-cadrastro">
                        <label for="senha-cadrastro"><span class="material-symbols-outlined">
                                password
                            </span></label>
                        <input type="password" name="confisenha" id="confisenha" placeholder="Confirmar Senha" required>
                        <% if (locals.error && errors.confisenha) { %>
                            <div class="error">
                                <p><%= errors.confisenha.msg %></p>
                            </div>
                        <% } %>
                    </div>
                    <div class="telefone" style="display: flex;margin-top: 15px;border-radius: 8px;margin: 0 auto;width: 100%;margin-bottom: 10px;">
                        <label for="telefone" style="padding-left: 10px;padding-right: 10px;padding-top: 5px;background-color: #54858A;border-radius: 20px 0 0px 20px;">
                            <span class="material-symbols-outlined">
                                phone
                            </span></label>
                        <input type="text" name="telefone" id="telefone" autocomplete="off" placeholder="Telefone"
                            required="" style="width: 100%;border: none;background: #dadada;border-radius: 0px 20px 20px 0;">
                        <% if (locals.error && errors.telefone) { %>
                            <div class="error">
                                <p><%= errors.telefone.msg %></p>
                            </div>
                        <% } %>
                    </div>
                    <div class="avatar" style="text-align: left;font-size: 14px;">
                        <span style="text-align: left;">
                            Foto de perfil
                        </span>
                        <label for="avatar">
                            <span class="material-symbols-outlined">
                                person
                            </span>
                        </label>
                        <input type="file" name="avatar" id="avatar" autocomplete="off" placeholder="Avatar"
                            required="">
                    </div>
                    <% if (locals.error) { %>
                        <div class="error">
                            <p><%= error %></p>
                        </div>
                    <% } %>
                    <div class="Ientra-cadrastro">
                        <input type="submit" id="Ientra-cadrastro" value="Cadastrar">
                    </div>

            </div>
            </form>
        </section>
    </main>
</body>

</html>